
        .abc {
            opacity: 0; /* Start hidden */
            transform: translateY(90px); /* Start moved down */
            transition: opacity 2s ease, transform 1s ease; /* Transition effect */
        }

        .sec {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
        }

        .abc.visible {
            opacity: 1; /* Fully visible */
            transform: translateY(0); /* Move to original position */
        }
  